USE [master]
GO
/****** Object:  Database [TEST_ITALIKA]    Script Date: 3/25/2021 6:42:35 PM ******/
CREATE DATABASE [TEST_ITALIKA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TEST_ITALIKA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TEST_ITALIKA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TEST_ITALIKA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TEST_ITALIKA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TEST_ITALIKA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TEST_ITALIKA]
GO
/****** Object:  Table [dbo].[cTypes]    Script Date: 3/25/2021 6:42:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cTypes](
	[id_type] [int] IDENTITY(1,1) NOT NULL,
	[type] [varchar](50) NOT NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_cTypes] PRIMARY KEY CLUSTERED 
(
	[id_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbProducts]    Script Date: 3/25/2021 6:42:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbProducts](
	[id_product] [int] IDENTITY(1,1) NOT NULL,
	[sku] [varchar](50) NULL,
	[fert] [varchar](50) NULL,
	[model] [varchar](50) NULL,
	[id_type] [int] NOT NULL,
	[serie] [varchar](500) NULL,
	[date] [datetime] NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_tbProducts] PRIMARY KEY CLUSTERED 
(
	[id_product] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbUsers]    Script Date: 3/25/2021 6:42:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbUsers](
	[id_user] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[pass] [varchar](600) NOT NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK_tbUsers] PRIMARY KEY CLUSTERED 
(
	[id_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[cTypes] ON 

INSERT [dbo].[cTypes] ([id_type], [type], [status]) VALUES (1, N'TRABAJO', 1)
INSERT [dbo].[cTypes] ([id_type], [type], [status]) VALUES (2, N'DEPORTIVA', 1)
INSERT [dbo].[cTypes] ([id_type], [type], [status]) VALUES (3, N'INFANTIL', 1)
SET IDENTITY_INSERT [dbo].[cTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[tbProducts] ON 

INSERT [dbo].[tbProducts] ([id_product], [sku], [fert], [model], [id_type], [serie], [date], [status]) VALUES (1, N'222', N'22', N'22', 2, N'123', CAST(N'2021-03-26T00:09:50.037' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[tbProducts] OFF
GO
ALTER TABLE [dbo].[tbProducts]  WITH CHECK ADD  CONSTRAINT [FK_tbProducts_cTypes] FOREIGN KEY([id_type])
REFERENCES [dbo].[cTypes] ([id_type])
GO
ALTER TABLE [dbo].[tbProducts] CHECK CONSTRAINT [FK_tbProducts_cTypes]
GO
/****** Object:  StoredProcedure [dbo].[spExistProduct]    Script Date: 3/25/2021 6:42:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[spExistProduct] @id int
AS
BEGIN
	declare @res int = 0;
	IF NOT EXISTS (SELECT * FROM tbProducts WHERE id_product = @id )
BEGIN
SET @res = 1;
END
RETURN @res
END
GO
USE [master]
GO
